footer {
  margin-top: 4rem;
  background: $darkbg;
  padding: 1.5rem;
  color: $white;
  font-size: 0.8rem;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  .social-media {
    li{
      transition: all 0.50s ease;
      &:hover, &:focus {
        opacity: 0.7;
        transform: rotate(360deg);
      }
    }
  }
}
