header {
  background: $white;
  // nav
  .nav-link {
    color: $darktext;
    padding: 1.41rem 1rem;
  }
  .my-post-link {
    border-left: 1px solid #97A4B1;
    line-height: 0rem;
    color: $darkgreen;
    padding: 0.8rem 0.7rem;
  }
  .dropdown-menu {
    min-width: 15rem;
    right: 0;
    left: auto;
    .dropdown-item {
      display: block;
      padding: 0.8rem 1.5rem;
      border-bottom: 1px solid #ebebeb;
      font-size: 0.8rem;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
  .sp-nav {
    box-shadow: 0 2px 4px 0 rgba(235,235,235,0.5);
    margin-bottom: 2.5rem;
    padding: 0.1rem 0.5rem;
    .sp-links {
      margin-left: 2rem;
      .active {
        .nav-link {
          border-bottom: 2px solid $defultgreen;
          color: $darkgreen;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $defultgreen;
        }
      }
      .nav-link {
        padding: 1.41rem 0.5rem;
        margin: auto 0.4rem;
        color: $darktext;
        display:inline-block;
        transition: all 0.30s ease;
        text-align:center;
        &:hover,&:focus {
          color: $darkgreen;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $defultgreen;
        }
      }
    }
  }
}
.dropdown-toggle::after {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 0.255em;
  vertical-align: sub;
  content: "";
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  background-image: url('../images/icons/arrow_gery_dropdown.svg');
  background-repeat: no-repeat;
}
