// Main style
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidArabicKufi.eot?#iefix) format('embedded-opentype'),
  url(../fonts/DroidArabicKufi.woff) format('woff'),
  url(../fonts/DroidArabicKufi.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidArabicKufi-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/DroidArabicKufi-Bold.woff) format('woff'),
  url(../fonts/DroidArabicKufi-Bold.ttf) format('truetype');
}
.m-t-1 {
  margin-top: 1rem;
}
.m-t-2 {
  margin-top: 2rem;
}
.m-t-3 {
  margin-top: 3rem;
}
.single-page-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: $darktext;
  + p {
    font-size: 1.13rem;
  }
}
.btn-default {
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  background-color: #eeeded;
  color: $darktext;
  &:hover, &:focus {
    background-color: #d8d7d7;
  }
}
.btn.btn-sp {
  padding: 0.5rem 1.5rem;
  font-size: 0.88rem;
}
.btn-sp[type="submit"] {
  appearance: unset;
  color: $white !important;
}
.btn-sm, .btn-group-sm > .btn {
  font-size: 0.7rem !important;
}
.invalid-feedback {
  font-size: 99%;
}
.modal-content {
  width: auto;
}
.text-green {
  color: $darkgreen;
}
.input-group-text.input-with-icon {
  background-color: transparent;
  border-color: #C8C8C8;
  border-left-color: transparent;
  margin-left: -1px;
}
.input-group-text.input-with-icon.graybg {
  background-color: #F5F5F5;
  border-left: 0;
}
.input-group {
  transition: all 0.10 ease-in-out;
  .input-group-prepend {
    .input-with-icon {
      border: 1px solid #c8c8c8;
      border-radius: 3px;
      margin-left: -2px;
      border-left: 0;
    }
  }
  .form-control.input-icon {
    border-right-color: #fff;
    border-right: 0;
    &:focus {
      border-color: #28ac58;
      +.input-group-prepend > .input-with-icon {
        border-color: #28ac58;
      }
    }
  }
}
.form-control.input-icon.graybg-border {
  border-right-color: #F5F5F5;
}
.small-container {
  max-width: 45rem;
}
.sp-alert  {
  border-radius: 5px;
  background-color: #F8FAFB;
  border: 0;
  font-size: 12px;
  line-height: 1.6rem;
}
.color-grey {
  color: #3b3b3b;
}
// override
a {
  color: $defultgreen;
  text-decoration: $defultgreen;
  &:hover {
    color: $darkgreen;
    text-decoration: $darkgreen;
  }
}
.logo {
  margin-left: 0;
  margin-right: 0.7rem;
}
.form-group {
  margin: 1.5rem auto;
  label {
    margin-bottom: 0.7rem;
    color: $darktext;
  }
}
.input-dark {
  border: 1px solid #97A4B1;
  border-radius: 4px;
  background-color: #F5F5F5;
}
.form-control {
  border: 1px solid $borderColor;
  font-size: 0.88rem;
  padding: 0.532rem 0.75rem;
  &::placeholder {
    color: $lighttext;
  }
  &:focus{
    color: $text;
    border-color: $defultgreen;
    box-shadow: 0 0 0 0.2rem rgba(243, 243, 243, 0.1);
  }
}
label {
  margin-bottom: 0.63rem;
}
.small-label {
  margin-bottom: 0.7rem;
  font-size: 0.8rem;
}
.form-check-inline {
  margin-right: 1.7rem;
}
.msg-title {
  font-size: 1.3rem;
  color: $darktext;
  text-align: center;
  line-height: 2.1rem;
}
.tooltip {
  .arrow {
    left: 0;
    z-index: 111;
    transform: rotate(180deg);
    &:before{
      border-left-color: #fff;
    }
  }
  .tooltip-inner {
    font-family: 'Droid Arabic Kufi';
    color: $darktext;
    text-align: left;
    background-color: $white;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.12);
    padding: 1rem 0.4rem;
    font-size: 0.7rem;
    font-weight: bold;
    ul{
      padding: 1rem 1rem 0;
      font-size: 0.6rem;
      color: $lighttext;
    }
  }
}
.navbar-toggler {
  border: 0;
  display: inline-block;
  &:hover, &:focus {
    outline: 0;
  }
  .icon {
    display: inline-block;
    transition: all 0.30s ease;
  }
}
.navbar-toggler.collapsed {
  .icon {
    transform: rotate(0);
  }
}
.navbar-toggler {
  .icon {
    transform: rotate(-90deg);
  }
}
.modal-body {
  padding: 0;
}
.btn.btn-danger {
  color: $white;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8fafc;
}
.easy-autocomplete-container ul {
  box-shadow: 0 2px 9px 0 rgba(210,210,210,0.5);
  border-bottom: 1px solid $lightborder;
  padding: 0;
  li {
    border-bottom: 1px solid $lightborder;
    padding: 1rem;
  }
}
.icon {
  vertical-align: baseline;
}
// override
.no-gutter-left {
  padding-left: 0;
}
.no-gutter-right {
  padding-right: 0;
}
.row-p5 {
  padding: 0 5px;
  overflow-x: hidden;
}
.light {
  color: $lighttext !important;
}
.underline {
  text-decoration: underline;
}
.light-link {
  color: $white;
  text-decoration: underline;
  &:hover, &:focus {
    color: $white;
    opacity: 0.9;
  }
}
.defult-link {
  color: $lighttext;
  text-decoration: underline;
  &:hover, &:focus {
    color: $darktext;
  }
}
.link-blue {
  color: #157efa;
  text-decoration: underline;
  &:hover, &:focus {
    color: #0169e3;
  }
}
.link-red {
  color: #F85359;
  &:hover, &:focus {
    color: #d40008;
  }
}
.my-post-link-m {
  display: none;
}
// override plugin
.easy-autocomplete-container {
  top: 36px;
}
.easy-autocomplete{
  width: 85% !important;
}
.easy-autocomplete input{
  width: 100% !important;
  box-shadow: none;
}
.custom-control-label {
  margin-bottom: 0.63rem;
  position: static;
}
.custom-control {
  display: inline-block;
}
.max-w {
  max-width: 60%;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28AC58;
  border: 1px solid #28AC58;
}
small, .small {
    font-size: 90% !important;
}
