// Responsive
@media only screen and (min-width: 992px) and (max-width: 1100px){
  header {
    // nav
    .nav-link {
      padding: 1rem 0.6rem;
      font-size: 0.7rem;
    }
    .my-post-link {
      line-height: 0.1rem;
    }
    .sp-nav {
      margin-bottom: 2.5rem;
      padding: 0.1rem 0.5rem;
      .sp-links {
        .active {
          .nav-link {
            border-bottom: 2px solid $defultgreen;
          }
        }
        .nav-link {
          padding: 1.41rem 0.5rem;
          margin: auto 0.4rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .no-gutter-left {
    padding-left: 10px;
  }
  .no-gutter-right {
    padding-right: 10px;
  }
  header {
    // nav
    .nav-link.my-post-link {
      display: none;
    }
    .my-post-link-m {
      display: block;
      text-align: center;
    }
    .sp-nav {
      margin-bottom: 2.5rem;
      padding: 0.1rem 0.5rem;
      .sp-links {
        margin-left: auto;
        .active {
          .nav-link {
            border-bottom: 0;
            color: $defultgreen;
          }
        }
        .nav-link {
          display: block;
          padding: 1.41rem 0.5rem;
          margin: auto 0.4rem;
        }
      }
    }
    .side-menu {
      .float-left,.float-right {
        float: none !important;
        text-align: center;
      }
    }
    .dropdown-menu {
      width: 100%;
    }
  }
  footer {
    .float-right {
      float: none !important;
      text-align: center;
      margin: 1rem auto;
    }
    .float-left {
      float: none !important;
      text-align: center !important;
      margin: 2rem auto;
    }
  }
  .warning-msg {
    width: auto;
  }
  .tooltip {
    display: none;
    .arrow {
      display: none;
    }
  }
  #sp-tabs.tabs-smaller {
    max-width: 100%;
  }
  .track-shipment-head {
    position: relative;
    .track-order {
      position: static;
      right: auto;
      top: auto;
      margin-top: 1rem;
    }
  }
  .search-width {
    max-width: 100%;
  }
  body {
    padding-bottom: 300px;
  }
  .max-w {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .remove-p-small {
    padding-left: 0 !important;
  }
  .send-and-receive .card {
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  .sp-card .card-body {
    padding: 1rem;
  }
  .styled-select {
    margin-bottom: 1rem;
  }
  #sp-tabs.tabs-smaller {
    max-width: 100%;
  }
  body {
    padding-bottom: 350px;
  }
}
