.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../icons.svg");
      background-repeat: no-repeat;
      background-size: 55.2em 836.8em;

      .no-svg & {
        background-image: url("../icons.png");
      }
    }
}




.icon.additional_subscribers {
  &:before {
      background-position: -2em -2em;
      width: 6.3em;
      height: 5.8em;
    }
  }

  @mixin icon-additional_subscribers(){
    @extend .additional_subscribers;
  }


.icon.addmore {
  &:before {
      background-position: -2em -11.8em;
      width: 2.2em;
      height: 2.2em;
    }
  }

  @mixin icon-addmore(){
    @extend .addmore;
  }


.icon.address_book {
  &:before {
      background-position: -2em -18em;
      width: 2.7em;
      height: 3.4em;
    }
  }

  @mixin icon-address_book(){
    @extend .address_book;
  }


.icon.arrow_gery_down {
  &:before {
      background-position: -2em -25.4em;
      width: 1.4em;
      height: 0.8em;
    }
  }

  @mixin icon-arrow_gery_down(){
    @extend .arrow_gery_down;
  }


.icon.arrow_gery_dropdown {
  &:before {
      background-position: -2em -30.2em;
      width: 1.4em;
      height: 0.8em;
    }
  }

  @mixin icon-arrow_gery_dropdown(){
    @extend .arrow_gery_dropdown;
  }


.icon.arrow_green {
  &:before {
      background-position: -2em -35em;
      width: 0.8em;
      height: 1.4em;
    }
  }

  @mixin icon-arrow_green(){
    @extend .arrow_green;
  }


.icon.arrow_green_left {
  &:before {
      background-position: -2em -40.4em;
      width: 0.6em;
      height: 1em;
    }
  }

  @mixin icon-arrow_green_left(){
    @extend .arrow_green_left;
  }


.icon.arrow_orange_left {
  &:before {
      background-position: -2em -45.4em;
      width: 0.6em;
      height: 1em;
    }
  }

  @mixin icon-arrow_orange_left(){
    @extend .arrow_orange_left;
  }


.icon.atenntion {
  &:before {
      background-position: -2em -50.4em;
      width: 5.9em;
      height: 5.2em;
    }
  }

  @mixin icon-atenntion(){
    @extend .atenntion;
  }


.icon.attach {
  &:before {
      background-position: -2em -59.6em;
      width: 1.5em;
      height: 2.4em;
    }
  }

  @mixin icon-attach(){
    @extend .attach;
  }


.icon.attention {
  &:before {
      background-position: -2em -66em;
      width: 5.9em;
      height: 5.2em;
    }
  }

  @mixin icon-attention(){
    @extend .attention;
  }


.icon.b-my_shipments {
  &:before {
      background-position: -2em -75.2em;
      width: 8em;
      height: 6.6em;
    }
  }

  @mixin icon-b-my_shipments(){
    @extend .b-my_shipments;
  }


.icon.building {
  &:before {
      background-position: -2em -85.8em;
      width: 2.3em;
      height: 2.3em;
    }
  }

  @mixin icon-building(){
    @extend .building;
  }


.icon.building_number {
  &:before {
      background-position: -2em -92.1em;
      width: 1.8em;
      height: 1.7em;
    }
  }

  @mixin icon-building_number(){
    @extend .building_number;
  }


.icon.business {
  &:before {
      background-position: -2em -97.8em;
      width: 6.5em;
      height: 6.3em;
    }
  }

  @mixin icon-business(){
    @extend .business;
  }


.icon.calender {
  &:before {
      background-position: -2em -108.1em;
      width: 1.8em;
      height: 2em;
    }
  }

  @mixin icon-calender(){
    @extend .calender;
  }


.icon.check_the_po_box {
  &:before {
      background-position: -2em -114.1em;
      width: 3.1em;
      height: 2.8em;
    }
  }

  @mixin icon-check_the_po_box(){
    @extend .check_the_po_box;
  }


.icon.clock {
  &:before {
      background-position: -2em -120.9em;
      width: 2.8em;
      height: 2.8em;
    }
  }

  @mixin icon-clock(){
    @extend .clock;
  }


.icon.confirm_na {
  &:before {
      background-position: -2em -127.7em;
      width: 3.1em;
      height: 2.8em;
    }
  }

  @mixin icon-confirm_na(){
    @extend .confirm_na;
  }


.icon.current_location {
  &:before {
      background-position: -2em -134.5em;
      width: 2em;
      height: 2em;
    }
  }

  @mixin icon-current_location(){
    @extend .current_location;
  }


.icon.customer_care {
  &:before {
      background-position: -2em -140.5em;
      width: 5.7em;
      height: 4.9em;
    }
  }

  @mixin icon-customer_care(){
    @extend .customer_care;
  }


.icon.date-shipment {
  &:before {
      background-position: -2em -149.4em;
      width: 7.5em;
      height: 5em;
    }
  }

  @mixin icon-date-shipment(){
    @extend .date-shipment;
  }


.icon.delete {
  &:before {
      background-position: -2em -158.4em;
      width: 5.9em;
      height: 5.2em;
    }
  }

  @mixin icon-delete(){
    @extend .delete;
  }


.icon.electronic_seal_delivery {
  &:before {
      background-position: -2em -167.6em;
      width: 6.9em;
      height: 5.3em;
    }
  }

  @mixin icon-electronic_seal_delivery(){
    @extend .electronic_seal_delivery;
  }


.icon.facebook {
  &:before {
      background-position: -2em -176.9em;
      width: 3.4em;
      height: 3.4em;
    }
  }

  @mixin icon-facebook(){
    @extend .facebook;
  }


.icon.facebook-icon {
  &:before {
      background-position: -2em -184.3em;
      width: 4.2em;
      height: 9em;
    }
  }

  @mixin icon-facebook-icon(){
    @extend .facebook-icon;
  }


.icon.fees_and_prices {
  &:before {
      background-position: -2em -197.3em;
      width: 2.5em;
      height: 3.4em;
    }
  }

  @mixin icon-fees_and_prices(){
    @extend .fees_and_prices;
  }


.icon.forward {
  &:before {
      background-position: -2em -204.7em;
      width: 5.8em;
      height: 5.797em;
    }
  }

  @mixin icon-forward(){
    @extend .forward;
  }


.icon.group_5 {
  &:before {
      background-position: -2em -214.5em;
      width: 1.8em;
      height: 1.7em;
    }
  }

  @mixin icon-group_5(){
    @extend .group_5;
  }


.icon.individuals {
  &:before {
      background-position: -2em -220.2em;
      width: 5.5em;
      height: 5.6em;
    }
  }

  @mixin icon-individuals(){
    @extend .individuals;
  }


.icon.info {
  &:before {
      background-position: -2em -229.8em;
      width: 1.6em;
      height: 1.6em;
    }
  }

  @mixin icon-info(){
    @extend .info;
  }


.icon.info_mark {
  &:before {
      background-position: -2em -235.4em;
      width: 1.5em;
      height: 1.5em;
    }
  }

  @mixin icon-info_mark(){
    @extend .info_mark;
  }


.icon.instagram {
  &:before {
      background-position: -2em -240.9em;
      width: 3.4em;
      height: 3.4em;
    }
  }

  @mixin icon-instagram(){
    @extend .instagram;
  }


.icon.instagram-icon {
  &:before {
      background-position: -2em -248.3em;
      width: 12.8em;
      height: 12.8em;
    }
  }

  @mixin icon-instagram-icon(){
    @extend .instagram-icon;
  }


.icon.link-shipment-br {
  &:before {
      background-position: -2em -265.1em;
      width: 4.5em;
      height: 3.7em;
    }
  }

  @mixin icon-link-shipment-br(){
    @extend .link-shipment-br;
  }


.icon.link-shipment-ca {
  &:before {
      background-position: -2em -272.8em;
      width: 4.5em;
      height: 3.7em;
    }
  }

  @mixin icon-link-shipment-ca(){
    @extend .link-shipment-ca;
  }


.icon.link-shipment-en {
  &:before {
      background-position: -2em -280.5em;
      width: 4.5em;
      height: 3.7em;
    }
  }

  @mixin icon-link-shipment-en(){
    @extend .link-shipment-en;
  }


.icon.link-shipment-usa {
  &:before {
      background-position: -2em -288.2em;
      width: 4.5em;
      height: 3.7em;
    }
  }

  @mixin icon-link-shipment-usa(){
    @extend .link-shipment-usa;
  }


.icon.link_additional_subscribers {
  &:before {
      background-position: -2em -295.9em;
      width: 5.6em;
      height: 5.1em;
    }
  }

  @mixin icon-link_additional_subscribers(){
    @extend .link_additional_subscribers;
  }


.icon.link_check_po {
  &:before {
      background-position: -2em -305em;
      width: 5.6em;
      height: 5em;
    }
  }

  @mixin icon-link_check_po(){
    @extend .link_check_po;
  }


.icon.link_confirm_natonal_address {
  &:before {
      background-position: -2em -314em;
      width: 5.5em;
      height: 5em;
    }
  }

  @mixin icon-link_confirm_natonal_address(){
    @extend .link_confirm_natonal_address;
  }


.icon.link_packages_link {
  &:before {
      background-position: -2em -323em;
      width: 5.8em;
      height: 5.1em;
    }
  }

  @mixin icon-link_packages_link(){
    @extend .link_packages_link;
  }


.icon.linked_shipments {
  &:before {
      background-position: -2em -332.1em;
      width: 4.4em;
      height: 4em;
    }
  }

  @mixin icon-linked_shipments(){
    @extend .linked_shipments;
  }


.icon.linkedin-icon {
  &:before {
      background-position: -2em -340.1em;
      width: 7.9em;
      height: 7.5em;
    }
  }

  @mixin icon-linkedin-icon(){
    @extend .linkedin-icon;
  }


.icon.linkenin {
  &:before {
      background-position: -2em -351.6em;
      width: 3.4em;
      height: 3.4em;
    }
  }

  @mixin icon-linkenin(){
    @extend .linkenin;
  }


.icon.list {
  &:before {
      background-position: -2em -359em;
      width: 2.5em;
      height: 1.9em;
    }
  }

  @mixin icon-list(){
    @extend .list;
  }


.icon.location-shipment {
  &:before {
      background-position: -2em -364.9em;
      width: 7.7em;
      height: 5.1em;
    }
  }

  @mixin icon-location-shipment(){
    @extend .location-shipment;
  }


.icon.lock-icon {
  &:before {
      background-position: -2em -374em;
      width: 0.9em;
      height: 1.4em;
    }
  }

  @mixin icon-lock-icon(){
    @extend .lock-icon;
  }


.icon.mail {
  &:before {
      background-position: -2em -379.4em;
      width: 12.3em;
      height: 2.2em;
    }
  }

  @mixin icon-mail(){
    @extend .mail;
  }


.icon.menu {
  &:before {
      background-position: -2em -385.6em;
      width: 2.5em;
      height: 2.5em;
    }
  }

  @mixin icon-menu(){
    @extend .menu;
  }


.icon.menu-options {
  &:before {
      background-position: -2em -392.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-menu-options(){
    @extend .menu-options;
  }


.icon.menu_address_book {
  &:before {
      background-position: -2em -447.3em;
      width: 2.7em;
      height: 3.4em;
    }
  }

  @mixin icon-menu_address_book(){
    @extend .menu_address_book;
  }


.icon.menu_check_box {
  &:before {
      background-position: -2em -454.7em;
      width: 3.1em;
      height: 2.8em;
    }
  }

  @mixin icon-menu_check_box(){
    @extend .menu_check_box;
  }


.icon.menu_confirm {
  &:before {
      background-position: -2em -461.5em;
      width: 3.1em;
      height: 2.8em;
    }
  }

  @mixin icon-menu_confirm(){
    @extend .menu_confirm;
  }


.icon.menu_fees {
  &:before {
      background-position: -2em -468.3em;
      width: 2.5em;
      height: 3.4em;
    }
  }

  @mixin icon-menu_fees(){
    @extend .menu_fees;
  }


.icon.menu_link_shipment {
  &:before {
      background-position: -2em -475.7em;
      width: 3.2em;
      height: 2.9em;
    }
  }

  @mixin icon-menu_link_shipment(){
    @extend .menu_link_shipment;
  }


.icon.menu_our_locations {
  &:before {
      background-position: -2em -482.6em;
      width: 3.1em;
      height: 3.1em;
    }
  }

  @mixin icon-menu_our_locations(){
    @extend .menu_our_locations;
  }


.icon.menu_prepare_shipment {
  &:before {
      background-position: -2em -489.7em;
      width: 3.2em;
      height: 2.7em;
    }
  }

  @mixin icon-menu_prepare_shipment(){
    @extend .menu_prepare_shipment;
  }


.icon.messages {
  &:before {
      background-position: -2em -496.4em;
      width: 11.1em;
      height: 7.8em;
    }
  }

  @mixin icon-messages(){
    @extend .messages;
  }


.icon.my_shipments {
  &:before {
      background-position: -2em -508.2em;
      width: 5.3em;
      height: 4.4em;
    }
  }

  @mixin icon-my_shipments(){
    @extend .my_shipments;
  }


.icon.national_address {
  &:before {
      background-position: -2em -516.6em;
      width: 8.7em;
      height: 5.7em;
    }
  }

  @mixin icon-national_address(){
    @extend .national_address;
  }


.icon.no_contacts {
  &:before {
      background-position: -2em -526.3em;
      width: 5.5em;
      height: 5.3em;
    }
  }

  @mixin icon-no_contacts(){
    @extend .no_contacts;
  }


.icon.no_subscriptions {
  &:before {
      background-position: -2em -535.6em;
      width: 6.6em;
      height: 5.6em;
    }
  }

  @mixin icon-no_subscriptions(){
    @extend .no_subscriptions;
  }


.icon.open_bills {
  &:before {
      background-position: -2em -545.2em;
      width: 3.8em;
      height: 3.8em;
    }
  }

  @mixin icon-open_bills(){
    @extend .open_bills;
  }


.icon.open_tickets {
  &:before {
      background-position: -2em -553em;
      width: 4.1em;
      height: 3.5em;
    }
  }

  @mixin icon-open_tickets(){
    @extend .open_tickets;
  }


.icon.our_locations {
  &:before {
      background-position: -2em -560.5em;
      width: 3.1em;
      height: 3.1em;
    }
  }

  @mixin icon-our_locations(){
    @extend .our_locations;
  }


.icon.packages {
  &:before {
      background-position: -2em -567.6em;
      width: 8.9em;
      height: 7.8em;
    }
  }

  @mixin icon-packages(){
    @extend .packages;
  }


.icon.paid {
  &:before {
      background-position: -2em -579.4em;
      width: 11.7em;
      height: 8.9em;
    }
  }

  @mixin icon-paid(){
    @extend .paid;
  }


.icon.payment {
  &:before {
      background-position: -2em -592.3em;
      width: 5.5em;
      height: 6.3em;
    }
  }

  @mixin icon-payment(){
    @extend .payment;
  }


.icon.pdf {
  &:before {
      background-position: -2em -602.6em;
      width: 2.1em;
      height: 2.4em;
    }
  }

  @mixin icon-pdf(){
    @extend .pdf;
  }


.icon.person {
  &:before {
      background-position: -2em -609em;
      width: 1.6em;
      height: 1.7em;
    }
  }

  @mixin icon-person(){
    @extend .person;
  }


.icon.pin {
  &:before {
      background-position: -2em -614.7em;
      width: 1.4em;
      height: 1.9em;
    }
  }

  @mixin icon-pin(){
    @extend .pin;
  }


.icon.po-box-big {
  &:before {
      background-position: -2em -620.6em;
      width: 7.6em;
      height: 7em;
    }
  }

  @mixin icon-po-box-big(){
    @extend .po-box-big;
  }


.icon.prepare_shipment {
  &:before {
      background-position: -2em -631.6em;
      width: 3.2em;
      height: 2.7em;
    }
  }

  @mixin icon-prepare_shipment(){
    @extend .prepare_shipment;
  }


.icon.printer {
  &:before {
      background-position: -2em -638.3em;
      width: 2.4em;
      height: 2.4em;
    }
  }

  @mixin icon-printer(){
    @extend .printer;
  }


.icon.profile_empty {
  &:before {
      background-position: -2em -644.7em;
      width: 1.8em;
      height: 1.8em;
    }
  }

  @mixin icon-profile_empty(){
    @extend .profile_empty;
  }


.icon.quick_mail {
  &:before {
      background-position: -2em -650.5em;
      width: 3.9em;
      height: 4.1em;
    }
  }

  @mixin icon-quick_mail(){
    @extend .quick_mail;
  }


.icon.raiting {
  &:before {
      background-position: -2em -658.6em;
      width: 1.7em;
      height: 1.7em;
    }
  }

  @mixin icon-raiting(){
    @extend .raiting;
  }


.icon.report {
  &:before {
      background-position: -2em -664.3em;
      width: 1.8em;
      height: 1.4em;
    }
  }

  @mixin icon-report(){
    @extend .report;
  }


.icon.s-my_shipments {
  &:before {
      background-position: -2em -669.7em;
      width: 4.9em;
      height: 4.1em;
    }
  }

  @mixin icon-s-my_shipments(){
    @extend .s-my_shipments;
  }


.icon.s-open_bills {
  &:before {
      background-position: -2em -677.8em;
      width: 4.2em;
      height: 4.2em;
    }
  }

  @mixin icon-s-open_bills(){
    @extend .s-open_bills;
  }


.icon.s-open_tickets {
  &:before {
      background-position: -2em -686em;
      width: 4.8em;
      height: 4.1em;
    }
  }

  @mixin icon-s-open_tickets(){
    @extend .s-open_tickets;
  }


.icon.sadad_logo_ {
  &:before {
      background-position: -2em -694.1em;
      width: 8.2em;
      height: 8.2em;
    }
  }

  @mixin icon-sadad_logo_(){
    @extend .sadad_logo_;
  }


.icon.search {
  &:before {
      background-position: -2em -706.3em;
      width: 2em;
      height: 2em;
    }
  }

  @mixin icon-search(){
    @extend .search;
  }


.icon.shipment_service {
  &:before {
      background-position: -2em -712.3em;
      width: 6.9em;
      height: 5.1em;
    }
  }

  @mixin icon-shipment_service(){
    @extend .shipment_service;
  }


.icon.shipment_type {
  &:before {
      background-position: -2em -721.4em;
      width: 7.4em;
      height: 5em;
    }
  }

  @mixin icon-shipment_type(){
    @extend .shipment_type;
  }


.icon.success {
  &:before {
      background-position: -2em -730.4em;
      width: 5.9em;
      height: 5.2em;
    }
  }

  @mixin icon-success(){
    @extend .success;
  }


.icon.tick_green {
  &:before {
      background-position: -2em -739.6em;
      width: 3em;
      height: 3em;
    }
  }

  @mixin icon-tick_green(){
    @extend .tick_green;
  }


.icon.track_shipment {
  &:before {
      background-position: -2em -746.6em;
      width: 4.7em;
      height: 3.8em;
    }
  }

  @mixin icon-track_shipment(){
    @extend .track_shipment;
  }


.icon.twitter {
  &:before {
      background-position: -2em -754.4em;
      width: 3.4em;
      height: 3.4em;
    }
  }

  @mixin icon-twitter(){
    @extend .twitter;
  }


.icon.twitter-icon {
  &:before {
      background-position: -2em -761.8em;
      width: 5.8em;
      height: 4em;
    }
  }

  @mixin icon-twitter-icon(){
    @extend .twitter-icon;
  }


.icon.unpaid {
  &:before {
      background-position: -2em -769.8em;
      width: 13.2em;
      height: 13.2em;
    }
  }

  @mixin icon-unpaid(){
    @extend .unpaid;
  }


.icon.upload_file {
  &:before {
      background-position: -2em -787em;
      width: 1.8em;
      height: 2.2em;
    }
  }

  @mixin icon-upload_file(){
    @extend .upload_file;
  }


.icon.warningmessage {
  &:before {
      background-position: -2em -793.2em;
      width: 4em;
      height: 4em;
    }
  }

  @mixin icon-warningmessage(){
    @extend .warningmessage;
  }


.icon.wasel-icon {
  &:before {
      background-position: -2em -801.2em;
      width: 9.1em;
      height: 2.9em;
    }
  }

  @mixin icon-wasel-icon(){
    @extend .wasel-icon;
  }


.icon.wasil_alami {
  &:before {
      background-position: -2em -808.1em;
      width: 8.9em;
      height: 5.3em;
    }
  }

  @mixin icon-wasil_alami(){
    @extend .wasil_alami;
  }


.icon.youtube {
  &:before {
      background-position: -2em -817.4em;
      width: 3.4em;
      height: 3.4em;
    }
  }

  @mixin icon-youtube(){
    @extend .youtube;
  }


.icon.youtube-icon {
  &:before {
      background-position: -2em -824.8em;
      width: 5em;
      height: 3.5em;
    }
  }

  @mixin icon-youtube-icon(){
    @extend .youtube-icon;
  }


.icon.zusa-flag {
  &:before {
      background-position: -2em -832.3em;
      width: 3.7em;
      height: 2.5em;
    }
  }

  @mixin icon-zusa-flag(){
    @extend .zusa-flag;
  }



