.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../icons.svg");
    background-repeat: no-repeat;
    background-size: 55.2em 836.8em;
}

.no-svg .icon:before {
    background-image: url("../icons.png");
}



  .icon.additional_subscribers:before {
      background-position: -2em -2em;
      width: 6.3em;
      height: 5.8em;
  }




  .icon.addmore:before {
      background-position: -2em -11.8em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.address_book:before {
      background-position: -2em -18em;
      width: 2.7em;
      height: 3.4em;
  }




  .icon.arrow_gery_down:before {
      background-position: -2em -25.4em;
      width: 1.4em;
      height: 0.8em;
  }




  .icon.arrow_gery_dropdown:before {
      background-position: -2em -30.2em;
      width: 1.4em;
      height: 0.8em;
  }




  .icon.arrow_green:before {
      background-position: -2em -35em;
      width: 0.8em;
      height: 1.4em;
  }




  .icon.arrow_green_left:before {
      background-position: -2em -40.4em;
      width: 0.6em;
      height: 1em;
  }




  .icon.arrow_orange_left:before {
      background-position: -2em -45.4em;
      width: 0.6em;
      height: 1em;
  }




  .icon.atenntion:before {
      background-position: -2em -50.4em;
      width: 5.9em;
      height: 5.2em;
  }




  .icon.attach:before {
      background-position: -2em -59.6em;
      width: 1.5em;
      height: 2.4em;
  }




  .icon.attention:before {
      background-position: -2em -66em;
      width: 5.9em;
      height: 5.2em;
  }




  .icon.b-my_shipments:before {
      background-position: -2em -75.2em;
      width: 8em;
      height: 6.6em;
  }




  .icon.building:before {
      background-position: -2em -85.8em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.building_number:before {
      background-position: -2em -92.1em;
      width: 1.8em;
      height: 1.7em;
  }




  .icon.business:before {
      background-position: -2em -97.8em;
      width: 6.5em;
      height: 6.3em;
  }




  .icon.calender:before {
      background-position: -2em -108.1em;
      width: 1.8em;
      height: 2em;
  }




  .icon.check_the_po_box:before {
      background-position: -2em -114.1em;
      width: 3.1em;
      height: 2.8em;
  }




  .icon.clock:before {
      background-position: -2em -120.9em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.confirm_na:before {
      background-position: -2em -127.7em;
      width: 3.1em;
      height: 2.8em;
  }




  .icon.current_location:before {
      background-position: -2em -134.5em;
      width: 2em;
      height: 2em;
  }




  .icon.customer_care:before {
      background-position: -2em -140.5em;
      width: 5.7em;
      height: 4.9em;
  }




  .icon.date-shipment:before {
      background-position: -2em -149.4em;
      width: 7.5em;
      height: 5em;
  }




  .icon.delete:before {
      background-position: -2em -158.4em;
      width: 5.9em;
      height: 5.2em;
  }




  .icon.electronic_seal_delivery:before {
      background-position: -2em -167.6em;
      width: 6.9em;
      height: 5.3em;
  }




  .icon.facebook:before {
      background-position: -2em -176.9em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.facebook-icon:before {
      background-position: -2em -184.3em;
      width: 4.2em;
      height: 9em;
  }




  .icon.fees_and_prices:before {
      background-position: -2em -197.3em;
      width: 2.5em;
      height: 3.4em;
  }




  .icon.forward:before {
      background-position: -2em -204.7em;
      width: 5.8em;
      height: 5.797em;
  }




  .icon.group_5:before {
      background-position: -2em -214.5em;
      width: 1.8em;
      height: 1.7em;
  }




  .icon.individuals:before {
      background-position: -2em -220.2em;
      width: 5.5em;
      height: 5.6em;
  }




  .icon.info:before {
      background-position: -2em -229.8em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.info_mark:before {
      background-position: -2em -235.4em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.instagram:before {
      background-position: -2em -240.9em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.instagram-icon:before {
      background-position: -2em -248.3em;
      width: 12.8em;
      height: 12.8em;
  }




  .icon.link-shipment-br:before {
      background-position: -2em -265.1em;
      width: 4.5em;
      height: 3.7em;
  }




  .icon.link-shipment-ca:before {
      background-position: -2em -272.8em;
      width: 4.5em;
      height: 3.7em;
  }




  .icon.link-shipment-en:before {
      background-position: -2em -280.5em;
      width: 4.5em;
      height: 3.7em;
  }




  .icon.link-shipment-usa:before {
      background-position: -2em -288.2em;
      width: 4.5em;
      height: 3.7em;
  }




  .icon.link_additional_subscribers:before {
      background-position: -2em -295.9em;
      width: 5.6em;
      height: 5.1em;
  }




  .icon.link_check_po:before {
      background-position: -2em -305em;
      width: 5.6em;
      height: 5em;
  }




  .icon.link_confirm_natonal_address:before {
      background-position: -2em -314em;
      width: 5.5em;
      height: 5em;
  }




  .icon.link_packages_link:before {
      background-position: -2em -323em;
      width: 5.8em;
      height: 5.1em;
  }




  .icon.linked_shipments:before {
      background-position: -2em -332.1em;
      width: 4.4em;
      height: 4em;
  }




  .icon.linkedin-icon:before {
      background-position: -2em -340.1em;
      width: 7.9em;
      height: 7.5em;
  }




  .icon.linkenin:before {
      background-position: -2em -351.6em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.list:before {
      background-position: -2em -359em;
      width: 2.5em;
      height: 1.9em;
  }




  .icon.location-shipment:before {
      background-position: -2em -364.9em;
      width: 7.7em;
      height: 5.1em;
  }




  .icon.lock-icon:before {
      background-position: -2em -374em;
      width: 0.9em;
      height: 1.4em;
  }




  .icon.mail:before {
      background-position: -2em -379.4em;
      width: 12.3em;
      height: 2.2em;
  }




  .icon.menu:before {
      background-position: -2em -385.6em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.menu-options:before {
      background-position: -2em -392.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.menu_address_book:before {
      background-position: -2em -447.3em;
      width: 2.7em;
      height: 3.4em;
  }




  .icon.menu_check_box:before {
      background-position: -2em -454.7em;
      width: 3.1em;
      height: 2.8em;
  }




  .icon.menu_confirm:before {
      background-position: -2em -461.5em;
      width: 3.1em;
      height: 2.8em;
  }




  .icon.menu_fees:before {
      background-position: -2em -468.3em;
      width: 2.5em;
      height: 3.4em;
  }




  .icon.menu_link_shipment:before {
      background-position: -2em -475.7em;
      width: 3.2em;
      height: 2.9em;
  }




  .icon.menu_our_locations:before {
      background-position: -2em -482.6em;
      width: 3.1em;
      height: 3.1em;
  }




  .icon.menu_prepare_shipment:before {
      background-position: -2em -489.7em;
      width: 3.2em;
      height: 2.7em;
  }




  .icon.messages:before {
      background-position: -2em -496.4em;
      width: 11.1em;
      height: 7.8em;
  }




  .icon.my_shipments:before {
      background-position: -2em -508.2em;
      width: 5.3em;
      height: 4.4em;
  }




  .icon.national_address:before {
      background-position: -2em -516.6em;
      width: 8.7em;
      height: 5.7em;
  }




  .icon.no_contacts:before {
      background-position: -2em -526.3em;
      width: 5.5em;
      height: 5.3em;
  }




  .icon.no_subscriptions:before {
      background-position: -2em -535.6em;
      width: 6.6em;
      height: 5.6em;
  }




  .icon.open_bills:before {
      background-position: -2em -545.2em;
      width: 3.8em;
      height: 3.8em;
  }




  .icon.open_tickets:before {
      background-position: -2em -553em;
      width: 4.1em;
      height: 3.5em;
  }




  .icon.our_locations:before {
      background-position: -2em -560.5em;
      width: 3.1em;
      height: 3.1em;
  }




  .icon.packages:before {
      background-position: -2em -567.6em;
      width: 8.9em;
      height: 7.8em;
  }




  .icon.paid:before {
      background-position: -2em -579.4em;
      width: 11.7em;
      height: 8.9em;
  }




  .icon.payment:before {
      background-position: -2em -592.3em;
      width: 5.5em;
      height: 6.3em;
  }




  .icon.pdf:before {
      background-position: -2em -602.6em;
      width: 2.1em;
      height: 2.4em;
  }




  .icon.person:before {
      background-position: -2em -609em;
      width: 1.6em;
      height: 1.7em;
  }




  .icon.pin:before {
      background-position: -2em -614.7em;
      width: 1.4em;
      height: 1.9em;
  }




  .icon.po-box-big:before {
      background-position: -2em -620.6em;
      width: 7.6em;
      height: 7em;
  }




  .icon.prepare_shipment:before {
      background-position: -2em -631.6em;
      width: 3.2em;
      height: 2.7em;
  }




  .icon.printer:before {
      background-position: -2em -638.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.profile_empty:before {
      background-position: -2em -644.7em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.quick_mail:before {
      background-position: -2em -650.5em;
      width: 3.9em;
      height: 4.1em;
  }




  .icon.raiting:before {
      background-position: -2em -658.6em;
      width: 1.7em;
      height: 1.7em;
  }




  .icon.report:before {
      background-position: -2em -664.3em;
      width: 1.8em;
      height: 1.4em;
  }




  .icon.s-my_shipments:before {
      background-position: -2em -669.7em;
      width: 4.9em;
      height: 4.1em;
  }




  .icon.s-open_bills:before {
      background-position: -2em -677.8em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.s-open_tickets:before {
      background-position: -2em -686em;
      width: 4.8em;
      height: 4.1em;
  }




  .icon.sadad_logo_:before {
      background-position: -2em -694.1em;
      width: 8.2em;
      height: 8.2em;
  }




  .icon.search:before {
      background-position: -2em -706.3em;
      width: 2em;
      height: 2em;
  }




  .icon.shipment_service:before {
      background-position: -2em -712.3em;
      width: 6.9em;
      height: 5.1em;
  }




  .icon.shipment_type:before {
      background-position: -2em -721.4em;
      width: 7.4em;
      height: 5em;
  }




  .icon.success:before {
      background-position: -2em -730.4em;
      width: 5.9em;
      height: 5.2em;
  }




  .icon.tick_green:before {
      background-position: -2em -739.6em;
      width: 3em;
      height: 3em;
  }




  .icon.track_shipment:before {
      background-position: -2em -746.6em;
      width: 4.7em;
      height: 3.8em;
  }




  .icon.twitter:before {
      background-position: -2em -754.4em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.twitter-icon:before {
      background-position: -2em -761.8em;
      width: 5.8em;
      height: 4em;
  }




  .icon.unpaid:before {
      background-position: -2em -769.8em;
      width: 13.2em;
      height: 13.2em;
  }




  .icon.upload_file:before {
      background-position: -2em -787em;
      width: 1.8em;
      height: 2.2em;
  }




  .icon.warningmessage:before {
      background-position: -2em -793.2em;
      width: 4em;
      height: 4em;
  }




  .icon.wasel-icon:before {
      background-position: -2em -801.2em;
      width: 9.1em;
      height: 2.9em;
  }




  .icon.wasil_alami:before {
      background-position: -2em -808.1em;
      width: 8.9em;
      height: 5.3em;
  }




  .icon.youtube:before {
      background-position: -2em -817.4em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.youtube-icon:before {
      background-position: -2em -824.8em;
      width: 5em;
      height: 3.5em;
  }




  .icon.zusa-flag:before {
      background-position: -2em -832.3em;
      width: 3.7em;
      height: 2.5em;
  }





