html {
  direction: ltr;
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  padding-bottom: 160px;
  font-family: 'Droid Arabic Kufi', sans-serif;
  direction: ltr;
  text-align: left;
  color: $text;
  font-size: 0.88rem;
  background: #f8f8f8;
}
body > .container {
  min-height: 60vh;
  overflow-x: hidden;
}
body.whiteBg {
  background-color: #fff;
}
.styled-select {
  overflow: hidden;
  position: relative;
  select {
    /*hide default down arrow in webkit */
    appearance: none;
    color: $lighttext;
  }
  .icon {
    position: absolute;
    top: 49%;
    right: 17px;
    margin-top: -4px;
  }
  @-moz-document url-prefix(){
    .styled-select select { width: 110%; }
  }
  select::-ms-expand {
    display: none;
  } /* hide default down arrow in IE10*/
  /* hack to fall back in opera */
  _:-o-prefocus, .selector {
    .styled-select { background: none; }
  }
}
.styled-input {
  position: relative;
  padding: 0 0 0 30px;
  text-align: left;
  label {
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      border-radius: 50%;
    }
    &:before {
      left: 0;
      width: 20px;
      height: 20px;
      margin: -14px 1px 0;
      background: #ffffff;
      box-shadow: 0 0 1px #C8C8C8;
      border: 1px solid #C8C8C8;
      transition: opacity 0.20s ease-in-out, transform 0.20s ease-in-out;
    }
    &:after {
      left: 5px;
      width: 10px;
      height: 10px;
      margin: -9px 1px 0;
      opacity: 0;
      background: #ffffff;
      transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: opacity 0.20s ease-in-out, transform 0.20s ease-in-out;
    }
  }
  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;

    &:checked + label {
      &:after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
      &:before {
        background-color: #28AC58;
        box-shadow: 0 0 1px #C8C8C8;
        border: 1px solid #28AC58;
      }
    }
  }
}
.styled-input--square {
  label {
    &:before,
    &:after {
      border-radius: 0;
    }
  }
}
.styled-input--rounded {
  label {
    &:before {
      border-radius: 10px;
    }
    &:after {
      border-radius: 6px;
    }
  }
}
.styled-input--diamond {
  .styled-input {
    padding-left: 45px;
  }
  label {
    &:before,
    &:after {
      border-radius: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
  }

  input[type="radio"],
  input[type="checkbox"] {

    &:checked + label {
      &:after {
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  }
}
// Boxes style
div.box-container {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
  background: $white;
  padding: 2rem;
  margin-bottom: 1.8rem;
  position: relative;
  h5 {
    font-size: 1.13rem;
  }
}
.box-label {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}
// upload style
.file-drop-area {
  position: relative;
  width: 100%;
  padding: 1rem;
  border: 1px dashed $borderColor;
  border-radius: 3px;
  transition: 0.2s;
  text-align: center;
  background-color: #f8fafB;
  &.is-active {
    background-color: $lightborder;
  }
  img.fake-btn {
    margin-right: 0.5rem;
  }
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    &:focus {
      outline: none;
    }
  }
}
// Cards
.sp-card {
  box-shadow: 0 2px 14px 0 rgba(235,235,235,0.5);
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.25s ease;
  margin: 1rem auto;
  .card-title {
    color: $darktext;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .card-body {
    padding: 2.5rem;
  }
  &:hover {
    border-color: $defultgreen;
  }
}
.sp-card-w-hover {
  &:hover {
    box-shadow: 0 2px 14px 0 rgba(190,190,190,0.5);
    border-color: transparent;
  }
}
.sp-card.disabled {
  background: rgba(255, 255, 255, 0.4);
  a {
    pointer-events: none;
  }
  &:hover {
    border-color: transparent;
  }
}
// Tabs
#sp-tabs {
  margin-bottom: 1.5rem;
  border: 0;
  .nav-item {
    .nav-link {
      border-radius: 0;
      background-color: #eff1f2;
      color: #676e72;
      font-size: 0.75rem;
    }
    .active {
      border-color: $defultgreen;
      background-color: transparent;
      color: $defultgreen;
    }
  }
}
#sp-tabs.tabs-smaller {
  max-width: 25%;
}
#sp-shipmentdestination {
  margin-bottom: 1.5rem;
  border: 0;
  .nav-item {
    .nav-link {
      border-radius: 0;
      color: #333;
      font-size: 0.88rem;
      border-bottom: 2px solid transparent;
      padding-bottom: 1rem;
      transition: all 0.25s ease;
      &:hover {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $darktext;
      }
      .icon {
        display: block;
        margin: auto auto 1rem;
      }
    }
    .active {
      border-bottom-color: $defultgreen;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $darktext;
    }
  }
}
.sp-tabs-style-2 {
  border: 0;
  padding: 0 0.4rem;
  border-radius: 3px;
  background-color: $white;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  .nav-item {
    .nav-link {
      color: $darktext;
      font-size: 1rem;
      padding: 1rem;
      border-bottom: 2px solid transparent;
      transition: all 0.25s ease;
      &:hover {
        border-color: $defultgreen;
      }
    }
    .active {
      border-color: $defultgreen;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $darktext;
    }
  }
}
.custom-card {
  max-width: 30rem;
  margin: 1rem auto;
  color: $darktext;
}
.custom-card.custom-card-big {
  max-width: 47rem;
}
.custom-card.custom-card-full {
  max-width: 100%;
}
.signup-link {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 1.13rem;
}
.msg-card {
  max-width: 39rem;
  p {
    color: $darktext;
    font-size: 1.5em;
    margin-bottom: 1.5rem;
  }
}
.warning-msg {
  width: 35rem;
  h4 {
    color: #f7981c;
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  small {
    font-size: 0.9rem;
    color: $lighttext;
  }
}
.success-msg {
  h4 {
    color: $defultgreen;
    margin: 1.5rem auto;
    font-size: 1.8rem;
    font-weight: bold;
  }
  p {
    font-size: 1.2rem;
  }
}
// Signup
.signup-container {
  max-width: 47rem;
  margin: auto;
  .signup-icon-link {
    img {
      height: 3.5rem;
    }
    h4,p,img {
      margin-bottom: 1rem;
    }
    h4 {
      color: $dark;
    }
  }
}
.user-msg {
  .small-input {
    max-width: 15rem;
    margin: auto;
  }
  color: $lighttext;
}
// Table customization
.table.custom-table th, .table.custom-table td {
  padding: 1.5rem 0.5rem;
  vertical-align: middle;
  border-color: transparent;
  font-size: 0.8rem;
  color: $lighttext;
  &:first-child, &:last-child {
    color: $darktext;
    font-weight: bold;
  }
  &:last-child {
    text-align: right;
  }
}
.custom-table-2-row th, .custom-table-2-row td {
  padding: 1.5rem 0.5rem;
  vertical-align: middle;
  border-color: transparent;
  font-size: 0.8rem;
  color: $darktext;
  font-weight: bold;
  &:last-child {
    color: $lighttext;
    font-weight: normal;
  }
  &:last-child {
    text-align: left;
  }
}
.custom-table-v2 {
  padding: 1.5rem 0.5rem;
  border-color: transparent;
  font-size: 0.8rem;
  color: $lighttext;
  thead th {
    border-color: transparent;
    padding: 1rem;
    font-weight: bold;
  }
  th, td {
    border-color: transparent;
    font-weight: normal;
  }
}
.head-color {
  thead th {
    background-color: #f8fafc;
    font-weight: bold;
    color: $darktext;
  }
}
.custom-space {
  .card {
    background-color: transparent;
    border-color: transparent;
  }
  .card-header {
    background-color: $white;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
    margin-bottom: 1rem;
    border-color: transparent;
    .btn-link {
      color: $darktext;
    }
  }
  .card-body {
    background: $white;
  }
  .accordion-title.collapsed {
    .arrow_gery_down {
      transform: rotate(0);
    }
  }
  .accordion-title {
    font-size: 0.88rem;
    .zusa-flag {
      margin-right: 0.88rem;
    }
    .arrow_gery_down {
      position: absolute;
      right: 1rem;
      top: 1.2rem;
      transform: rotate(-180deg);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
// Main menu
.box-container.main-sidemenu {
  padding: 0;
  ul {
    li {
      border-bottom: 1px solid $lightborder;
      position: relative;
      transition: all 0.25s ease;
      &:hover {
        border-color: $darkgreen;
      }
      a {
        .icon {
          margin-right: 0.3rem;
          width: 2.5rem;
          display: inline-block;
          text-align: left;
        }
        padding: 1.2rem 1.1rem;
        font-size: 0.8rem;
        color: $darktext;
        font-weight: bold;
        display: block;
      }
      a.active {
        color: #28ac58;
        .d-none {
          display: inline-block !important;
        }
      }
    }
  }
}
.services-content {
  text-align: center;
  padding: 2rem;
  h6 {
    font-weight: bold;
    margin: 2rem auto;
  }
  p.price {
    color: $defultgreen;
    font-size: 1.2rem;
    margin: 2rem;
  }
}
.all-offices {
  text-align: center;
  .num-offices {
    font-size: 2.3rem;
    color: $lighttext;
  }
}
.results-offices {
  li {
    padding: 1rem;
    border-bottom: 1px solid $lightborder;
    &:hover, &:focus {
      color: $defultgreen;
      cursor: pointer;
    }
    &:last-child {
      border-color: transparent;
    }
  }
}
.shipment-details {
  font-size: 0.8rem;
}
.evaluate-links {
  li {
    a {
      line-height: 0.5rem;
      color: $lighttext;
      padding: 0.5rem 1rem;
      display: inline-block;
      border: 1px solid transparent;
    }
    &:first-child {
      a {
        border-right-color: $borderColor;
      }
    }
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}
.bill-card {
  position: relative;
  .bill-status {
    position: absolute;
    right: 0;
  }
}
.package-source {
  border-left: 1px solid $lightborder;
  padding-left: 1.5rem;
}
#vertical-tabs {
  .nav-link {
    color: $darktext;
    font-weight: bold;
    padding: 1rem 0;
    border-bottom: 1px solid $lightborder;
    transition: all 0.25s ease;
    &:hover {
      cursor: pointer;
      color: $defultgreen;
    }
  }
  .active {
    color: $defultgreen;
    background: transparent;
  }
}
.track-shipment-head {
  position: relative;
  .track-order {
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -1rem;
    width: 8rem;
  }
}
.search-width {
  max-width: 50%;
}
.max-w-20 {
  max-width: 20rem;
}
.next-head {
  font-size: 1.12rem;
}
.icon-container {
  height: 3.6rem;
  display: inline-block;
}
// Loading
.loading-box {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
}
.loading-box div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #6DC653;
  border-radius: 50%;
  animation: loading-box 1.2s linear infinite;
}
.loading-box div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.loading-box div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.loading-box div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.loading-box div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.loading-box div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.loading-box div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.loading-box div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.loading-box div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.loading-box div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.loading-box div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.loading-box div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.loading-box div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes loading-box {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.options {
  text-align: left;
  margin-bottom: 1rem;
  right: 0;
  position: absolute;
  top: 0;
  padding: 1rem;
  width: 100%;
  .options-link {
    opacity: 0.4;
    transition: opacity 200ms ease-in-out;
    &:hover, &:focus {
        opacity: 1;
    }
    .menu-options {
      font-size: 0.35px;
    }
  }
  .dropdown-menu {
    transform: translate3d(0 , 25px , 0) !important;
    top: 0 !important;
    left: 0 !important;
    margin: 1rem;
    a {
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
    }
  }
}
