// Define main style
$text:        #333;
$defultgreen: #28ac58;
$darkgreen:   #0E7B3E;
$darktext:    #3b3e41;
$highlight:   #4a4a4a;
$lighttext:   #8e8e8e;
$borderColor: #C8C8C8;
$dark:        #000000;
$white:       #ffffff;
$darkbg:      #31373B;
$lightborder: #ebebeb;
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "sprite.scss";
@import "header.scss";
@import "footer.scss";
@import "override.scss";
@import "style.scss";
@import "responsive.scss";
