@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9024de');
  src:  url('fonts/icomoon.eot?9024de#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9024de') format('truetype'),
    url('fonts/icomoon.woff?9024de') format('woff'),
    url('fonts/icomoon.svg?9024de#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-twitter-logo:before {
  content: "\e901";
}
.icon-facebook-letter-logo:before {
  content: "\e902";
}
.icon-linkedin-logo:before {
  content: "\e903";
}
.icon-youtube-play-button:before {
  content: "\e904";
}
